@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
:root {
     --primary-color: #3b82f6; /* Dark blue for primary elements */
     --secondary-color: 	#097054; /* Green for secondary elements */
     --background-color: #e0c349; /* Yellow for Background*/
     --hover-color: #5b98fa; /* Light blue for hover elements */
     --highlight-color: #FF9900; /* Orange for higlighting*/
     --text-color: #ecf0f1; /* Light text color */
     --border-color: #2563eb; /* Border color */
     --disabled-color: #7f8c8d; /* Gray for disabled elements */
     background-color: var(--background-color);
  }

  main {
     color: var(--text-color);
     font-family: 'Workbench', sans-serif;
     text-align: center;
     padding: 1em;
     margin: 0,10em,10em,10em auto;
     display: grid;
     justify-items: center;
     /*border:solid var(--secondary-color) ;*/
  }
 
  .grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     width: 45%;
  }

  .question {
      background-color: var(--secondary-color);
      padding: 1em;
      border-radius: 10px;
      width: calc(45% - 2em);
      font-size: 1.25rem;
  }
 
  button {
     background: var(--primary-color);
     color: var(--text-color);
     font-family: 'Roboto', sans-serif;
     border: solid;
     border-width: .25em;
     border-color: var(--border-color);
     border-radius: 10px;
     font-size: larger;
     padding: 1em;
     cursor: pointer;
     transition: background 0.3s ease;
     text-align: center;
  }
 
  button:hover {
     background: var(--hover-color);
  }
 
  button:disabled {
     background: var(--disabled-color);
     cursor: not-allowed;
  }

